.idea/
data/
data_font/
data_gen_test/
test_data/
char_data_all_fonts/
fonts/
char_data/
literature/
fotos/
plot_data/
plots/
report/
__pycache__/
.ipynb_checkpoints/
data
test.py
_MACOSX/
IBANs/
sphinx/
evaluation.ipynb